{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-md-between">
    <h2 class="text-center">Liste des tâches terminées</h2>
		<a href="{{ path('task_list') }}" class="btn btn-primary" div id="btn-ending">Voir toutes les taches à finir</a>
        <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
	</div>
	<div class="row">
		{% for task in tasks %}
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail" >
					<div class="caption">
						<h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                        <p><strong>Auteur:</strong>{% if task.createdBy == null %}anonyme{% endif %}{{ task.createdBy }}</p>
                        <p>{{ task.content }} </p>
					</div>
				
                 
					   {% if (is_granted("task_toggle", task)) %}
						<form action="{{ path('task_toggle', {'id' : task.id }) }}">
							<button class="btn btn-info btn-sm pull-right" div id="pull-right-list">
						{% if  task.isDone %}Clic si Modifier{% else %}Marquer Faite{% endif %}
							</button>
						</form>
                        {% endif %}
                    
				
						{% if (is_granted("task_delete", task))%}
							<form action="{{ path('task_delete', {'id' : task.id }) }}">
								<button class="btn btn-danger btn-sm pull-left" div id="pull-left-list">
									<i class="glyphicon glyphicon-trash"></i>
									Supprimer</button>
							</form>
						{% endif %}
					</div>
				
			</div>
		<div class="d-none" id="task{{ task.title }}" style="display: none">
                <p>{{ task.id }}</p>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}