{% extends 'base.html.twig' %}


{% block header_title %}
	<h1>Liste des utilisateurs</h1>
{% endblock %}

{% block body %}
	{% if users|length == 0 %}
		<div class="alert alert-warning" role="alert">
			Il n'y a pas encore d'utilisateur enregistré.
			<a href="{{ path('user_create') }}" class="btn btn-warning pull-right">
				<i class="glyphicon glyphicon-user">
					Créer un utilisateur</a>
			</div>
		{% else %}
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom d'utilisateur</th>
							<th>Adresse email</th>
							<th>Role Admin</th>
							<th>Nb de tâches</th>

						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<th scope="row">{{ loop.index }}</th>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>
									{% if "ROLE_ADMIN" in user.roles %}
										<span class="glyphicon glyphicon-ok"></span>
									{% endif %}
								</td>
								<td class="d-none d-md-table-cell">{{ user.tasks.count }}
								</td>
								<td>
									<a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">
										<span class="d-none d-sm-inline">Modifier
										</span>
									</a>
								</td>
							</tr>
							<div class="d-none" id="user-{{ user.name }}" style="display: none">
								<p>{{ user.id }}</p>
							</div>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	{% endblock %}
